<#assign ctx=request.contextPath>
<div class="container">
    <div class="row">
        <form id="search" class="form-inline" role="form">
            <div class="form-group">
                <label for="mobile">手机号：</label>
                <input type="text" class="form-control" id="mobile" name="mobile">
            </div>
            <div class="form-group">
                <label for="userName">姓名：</label>
                <input type="text" class="form-control" id="userName" name="userName">
            </div>
            <button id="findUser" type="submit" class="btn btn-default">查找</button>
        </form>
        <div class="col-md-10" style="margin-top:20px;">
            <div id="tds">

            </div>
            <div class="col-md-10 pagination pull-right"><ul id="pagination" class="pagination-sm pull-right"></ul></div>
        </div>
    </div>
</div>
<script>
    $(function() {
        var pageUrl = '${ctx!}/users/admin/listUser';
        var json = {};
        loadDataPage();

        $('#findUser').click(function(){
            json.mobile=mobile;
            json.userName=userName;
            $('#tds').load(pageUrl,json,function(){});
            return false;
        })

        function loadDataPage(){
            var mobile=$('#mobile').val();
            var userName=$('#userName').val();
            json.mobile=mobile;
            json.userName=userName;
            $('#tds').load(pageUrl,json,function(){
                var totalPages=parseInt($('#totalPages').val());
                var pageSize=parseInt($('#pageSize').val());
                $('#pagination').twbsPagination({
                    totalPages: totalPages,
                    visiblePages: totalPages%10,
                    onPageClick: function (event, page) {
                        json.pageSize=pageSize;
                        json.pageNo=page;
                        $('#tds').load(pageUrl,json,function(){});
                    }
                });
            });
        }
    });
</script>