<#assign ctx=request.contextPath>
<div class="container">
    <div class="row">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="content-tab">
            <li class="active"><a href="#course" role="tab" data-toggle="course">课程</a></li>
            <li><a href="#listen" role="tab" data-toggle="listen">试听</a></li>
            <li><a href="#appoint" role="tab" data-toggle="appoint">报名</a></li>
            <li><a href="#homework" role="tab" data-toggle="homework">作业</a></li>
            <li><a href="#question" role="tab" data-toggle="question">问答</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="padding:20px 20px;">
            <div class="tab-pane fade in active" id="course">
                <form id="coursesearch" class="form-inline" role="form">
                    <div class="form-group">
                        <label for="coursemobile">手机号：</label>
                        <input type="text" class="form-control" id="coursemobile" name="mobile">
                    </div>
                    <div class="form-group">
                        <label for="courseuserName">姓名：</label>
                        <input type="text" class="form-control" id="courseuserName" name="userName">
                    </div>
                    <button id="coursefindUser" type="submit" class="btn btn-default">查找</button>
                </form>
                <div class="col-md-10" style="margin-top:20px;">
                    <div id="coursetds">

                    </div>
                    <div class="col-md-10 pagination pull-right"><ul id="coursePagination" class="pagination-sm pull-right"></ul></div>
                </div>
            </div>
            <div class="tab-pane fade" id="listen">
                <form id="listensearch" class="form-inline" role="form">
                    <div class="form-group">
                        <label for="listenmobile">联系人：</label>
                        <input type="text" class="form-control" id="listenmobile" name="mobile">
                    </div>
                    <div class="form-group">
                        <label for="listenuserName">联系电话：</label>
                        <input type="text" class="form-control" id="listenuserName" name="userName">
                    </div>
                    <button id="listenfindUser" type="submit" class="btn btn-default">查找</button>
                </form>
                <div class="col-md-10" style="margin-top:20px;">
                    <div id="listentds">

                    </div>
                    <div class="col-md-10 pagination pull-right"><ul id="listenPagination" class="pagination-sm pull-right"></ul></div>
                </div>
            </div>
            <div class="tab-pane fade" id="appoint">
                <form id="appointsearch" class="form-inline" role="form">
                    <div class="form-group">
                        <label for="appointmobile">联系人：</label>
                        <input type="text" class="form-control" id="appointmobile" name="mobile">
                    </div>
                    <div class="form-group">
                        <label for="appointuserName">联系电话：</label>
                        <input type="text" class="form-control" id="appointuserName" name="userName">
                    </div>
                    <button id="appointfindUser" type="submit" class="btn btn-default">查找</button>
                </form>
                <div class="col-md-10" style="margin-top:20px;">
                    <div id="appointtds">

                    </div>
                    <div class="col-md-10 pagination pull-right"><ul id="appointPagination" class="pagination-sm pull-right"></ul></div>
                </div>
            </div>
            <div class="tab-pane fade" id="homework">
                <form id="homeworksearch" class="form-inline" role="form">
                    <div class="form-group">
                        <label for="homeworkmobile">编号：</label>
                        <input type="text" class="form-control" id="homeworkmobile" name="mobile">
                    </div>
                    <div class="form-group">
                        <label for="homeworkuserName">创建人：</label>
                        <input type="text" class="form-control" id="homeworkuserName" name="userName">
                    </div>
                    <button id="homeworkfindUser" type="submit" class="btn btn-default">查找</button>
                </form>
                <div class="col-md-10" style="margin-top:20px;">
                    <div id="homeworktds">

                    </div>
                    <div class="col-md-10 pagination pull-right"><ul id="homeworkPagination" class="pagination-sm pull-right"></ul></div>
                </div>
            </div>
            <div class="tab-pane fade" id="question">
                <form id="questionsearch" class="form-inline" role="form">
                    <div class="form-group">
                        <label for="questionmobile">编号：</label>
                        <input type="text" class="form-control" id="questionmobile" name="mobile">
                    </div>
                    <div class="form-group">
                        <label for="questionuserName">创建人：</label>
                        <input type="text" class="form-control" id="questionuserName" name="userName">
                    </div>
                    <button id="questionfindUser" type="submit" class="btn btn-default">查找</button>
                </form>
                <div class="col-md-10" style="margin-top:20px;">
                    <div id="questiontds">

                    </div>
                    <div class="col-md-10 pagination pull-right"><ul id="questionPagination" class="pagination-sm pull-right"></ul></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('#content-tab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })

        var coursepageUrl = '${ctx!}/users/admin/list/teacher';
        var listenpageUrl = '${ctx!}/users/admin/list/listen';
        var appointpageUrl = '${ctx!}/users/admin/list/appoint';
        var homeworkpageUrl = '${ctx!}/users/admin/list/homework';
        var questionpageUrl = '${ctx!}/users/admin/list/question';
        var json={};
        courseload();
        $('#coursefindUser').click(function(){
            courseload();
            return false;
        });
        function courseload(){
            var mobile=$('#coursemobile').val();
            var userName=$('#courseuserName').val();
            json.mobile=mobile;
            json.userName=userName;
            $('#coursetds').load(coursepageUrl,json, function(){
                var totalPages=parseInt($('#totalPages').val());
                var pageSize=parseInt($('#pageSize').val());
                $('#coursePagination').twbsPagination({
                    totalPages: totalPages,
                    visiblePages: totalPages%5,
                    onPageClick: function (event, page) {
                        json.pageSize=pageSize;
                        json.pageNo=page;
                        $('#coursetds').load(coursepageUrl,json,function(){});
                    }
                });
            });
        }
        listenload();
        $('#listenfindUser').click(function(){
            listenload();
            return false;
        });
        function listenload(){
            var mobile=$('#listenmobile').val();
            var userName=$('#listenuserName').val();
            json.mobile=mobile;
            json.userName=userName;
            $('#listentds').load(listenpageUrl,json, function(){
                var totalPages=parseInt($('#totalPages').val());
                var pageSize=parseInt($('#pageSize').val());
                $('#listenPagination').twbsPagination({
                    totalPages: totalPages,
                    visiblePages: totalPages%5,
                    onPageClick: function (event, page) {
                        json.pageSize=pageSize;
                        json.pageNo=page;
                        $('#listentds').load(listenpageUrl,json,function(){});
                    }
                });
            });
        }
        appointload();
        $('#appointfindUser').click(function(){
            appointload();
            return false;
        });
        function appointload(){
            var mobile=$('#appointmobile').val();
            var userName=$('#appointuserName').val();
            json.mobile=mobile;
            json.userName=userName;
            $('#appointtds').load(appointpageUrl,json, function(){
                var totalPages=parseInt($('#totalPages').val());
                var pageSize=parseInt($('#pageSize').val());
                $('#appointPagination').twbsPagination({
                    totalPages: totalPages,
                    visiblePages: totalPages%5,
                    onPageClick: function (event, page) {
                        json.pageSize=pageSize;
                        json.pageNo=page;
                        $('#appointtds').load(appointpageUrl,json,function(){});
                    }
                });
            });
        }
        homeworkload();
        $('#homeworkfindUser').click(function(){
            homeworkload();
            return false;
        });
        function homeworkload(){
            var mobile=$('#homeworkmobile').val();
            var userName=$('#homeworkuserName').val();
            json.mobile=mobile;
            json.userName=userName;
            $('#homeworktds').load(homeworkpageUrl,json, function(){
                var totalPages=parseInt($('#totalPages').val());
                var pageSize=parseInt($('#pageSize').val());
                $('#homeworkPagination').twbsPagination({
                    totalPages: totalPages,
                    visiblePages: totalPages%5,
                    onPageClick: function (event, page) {
                        json.pageSize=pageSize;
                        json.pageNo=page;
                        $('#homeworktds').load(homeworkpageUrl,json,function(){});
                    }
                });
            });
        }
        questionload();
        $('#questionfindUser').click(function(){
            questionload();
            return false;
        });
        function questionload(){
            var mobile=$('#questionmobile').val();
            var userName=$('#questionuserName').val();
            json.mobile=mobile;
            json.userName=userName;
            $('#questiontds').load(questionpageUrl,json, function(){
                var totalPages=parseInt($('#totalPages').val());
                var pageSize=parseInt($('#pageSize').val());
                $('#questionPagination').twbsPagination({
                    totalPages: totalPages,
                    visiblePages: totalPages%5,
                    onPageClick: function (event, page) {
                        json.pageSize=pageSize;
                        json.pageNo=page;
                        $('#questiontds').load(questionpageUrl,json,function(){});
                    }
                });
            });
        }
    });
</script>