<#include "/common/webUtils.ftl">
<#assign ctx=request.contextPath>
<table class="table table-bordered table-responsive table-striped" id="teacherTable">
    <thead>
    <tr>
        <th class="col-md-2">手机号</th>
        <th class="col-md-2">姓名</th>
        <th class="col-md-3">功能</th>
    </tr>
    </thead>
    <tbody>
    <#list page.getRows() as teacher>
        <tr>
            <td>${teacher.user.mobile}</td>
            <td>${teacher.user.userName}</td>
            <td>
                <#if teacher.user.status=="ENABLE">
                <a href="javascript:void(0);" data-id="${teacher.userId}" data-opt="disable">禁用</a>
                <#elseif teacher.user.status=="DISABLE">
                <a href="javascript:void(0);" data-id="${teacher.userId}" data-opt="enable">启用</a>
                </#if>
                <a href="javascript:void(0);" data-id="${teacher.userId}" data-opt="delete">删除</a>
                <a href="javascript:void(0);" data-id="${teacher.userId}" data-opt="view">查看</a>
            </td>
        </tr>
    </#list>
    </tbody>
</table>
<@emptyPage page=teachers msg="没有任何人员"/>
<@pageParam/>

<script>
    $(function(){

        $('#teacherTable').on('click','a',function(){
            var userId=$(this).data('id');
            var opt = $(this).data('opt');
            if(opt=='disable'||opt=='delete'||opt=='enable'){
                $.post('${ctx}/users/admin/postCourse/'+opt,{teacherId:userId},function(){
                    console.log($);
                    $.mhtMsg('操作成功!');
                })
            }else{
                $('#content').load('${ctx}/users/admin/view/postCourse',{teacherId:userId},function(){});
            }
        })
    })
</script>