<#include "/common/webUtils.ftl">
<#assign ctx=request.contextPath>
<table class="table table-bordered table-responsive table-striped" id="homeworkTable">
    <thead>
    <tr>
        <th class="col-md-2">创建人</th>
        <th class="col-md-2">作业标题</th>
        <th class="col-md-2">创建时间</th>
        <th class="col-md-1">功能</th>
    </tr>
    </thead>
    <tbody>
    <#list page.getRows() as homework>
        <tr>
            <td>${homework.teacher.userName}</td>
            <td>${homework.homeworkTitle}</td>
            <td>${homework.postTime}</td>
            <td>
                <a href="javascript:void(0);" data-id="${homework.homeworkId}" data-opt="delete">删除</a>
            </td>
        </tr>
    </#list>
    </tbody>
</table>
<@emptyPage page=page msg="没有任何作业"/>
<@pageParam/>

<script>
    $(function(){

        $('#homeworkTable').on('click','a',function(){
            var homeworkId=$(this).data('id');
            var opt = $(this).data('opt');
            if(opt=='delete'){
                $.post('${ctx}/users/admin/homework/'+opt,{homeworkId:homeworkId},function(){
                    $.mhtMsg('操作成功!');
                })
            }
        })
    })
</script>