<#assign ctx=request.contextPath>
<div class="row">
    <a class="pull-right btn btn-default" href="#" id="back" style="margin: 20px 20px;">返回</a>
    <div class="col-md-12 toppad">
        <div class="panel panel-info" style="margin-bottom: 0px;">
            <div class="panel-heading">
                <h3 class="panel-title">基本信息</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="userform">
                            <input id="userId" name="userId" type="hidden" value="${user.userId}"/>
                        <table class="table table-user-information">
                            <tbody>
                            <tr>
                                <td colspan="2" class="col-md-2" style="border-top-width: 0px;">
                                    <span class="badge pull-left"><h5>基本资料：</h5></span>
                                </td>
                            </tr>
                            <tr><td class="col-md-2">手机号：</td><td><span class="text">${user.mobile!}</span><input type="text" class="hinput" name="mobile" style="display: none;"/></td></tr>
                            <tr><td class="col-md-2">姓名：</td><td><span class="text">${user.userName!}</span><input type="text" class="hinput" name="userName" style="display: none;"/></td></tr>
                            <tr><td class="col-md-2">邮箱：</td><td><span class="text">${user.email!}</span><input type="text" class="hinput" name="email" style="display: none;"/></td></tr>
                            <tr><td class="col-md-2">地址：</td><td><span class="text">${user.address!}</span><input type="text" class="hinput" name="address" style="display: none;"/></td></tr>
                            <tr>
                                <td colspan="2" style="border-top-width: 0px;">
                                    <span class="badge pull-left"><h5>其他信息：</h5></span>
                                </td>
                            </tr>
                            <tr><td>积分：</td><td><span class="text">${user.credit!}</span><input type="text" class="hinput" name="credit" style="display: none;"/></td></tr>
                            <tr><td>VIP到期时间：</td><td><span class="text">${user.vipExpiredTime!}</span><input type="text" class="hinput" name="vipExpiredTime" style="display: none;"/></td></tr>
                            <tr class="danger"><td>当前余额：</td><td><span class="text">${user.wallet!}</span><input type="text" class="hinput" name="wallet" style="display: none;"/></td></tr>
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-danger" id="delete">删除</button>
                    <#if '${user.status}'=='DISABLE'>
                        <button type="button" class="btn btn-warning" id="enable">启用</button>
                    <#else>
                        <button type="button" class="btn btn-warning" id="disable">禁用</button>
                    </#if>
                    <button type="button" class="btn btn-primary" id="update">修改</button>
                    <button type="button" class="btn btn-primary" id="save" style="display: none;">保存修改</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){

        $('#back').click(function(){
            $('#content').load('${ctx}/users/admin/list');
        })

        $('#delete').click(function(){
            var userId=$('#userId').val();
            $.post('${ctx}/users/admin/delete',{userId:userId},function(){
                new PNotify({
                    text: '删除用户成功.',
                    animate_speed: 'fast',
                    type: 'success'
                });
            })
        })
        $('#disable').click(function(){
            var userId=$('#userId').val();
            $.post('${ctx}/users/admin/disable',{userId:userId},function(){
                new PNotify({
                    text: '禁用用户成功.',
                    animate_speed: 'fast',
                    type: 'success'
                });
            })
        })
        $('#enable').click(function(){
            var userId=$('#userId').val();
            $.post('${ctx}/users/admin/enable',{userId:userId},function(){
                new PNotify({
                    text: '启用用户成功.',
                    animate_speed: 'fast',
                    type: 'success'
                });
            })
        })
        $('#update').click(function(){
            $('span.text').hide();
            $('input.hinput').show();
            $(this).attr('disabled','disabled');
            $('#save').show();
        });

        $('#save').click(function(){
            var json=$('#userform').serializeJson();
            $.post('${ctx}/users/saveUser',json,function(){
                new PNotify({
                    text: '修改用户成功.',
                    animate_speed: 'fast',
                    type: 'success'
                });
                $('#save').hide();
                $('#update').removeAttr("disabled");
            })
        });
    })
</script>