<#assign ctx=request.contextPath>
<div class="container" style="background-color: #FFF;">
    <div class="row border-red" style="padding:20px 20px;">
        <h4>
            <p class="text text-warning">精彩问答</p>
        </h4>
        <p class="heading-title"></p>
        <ul class="list-group" id="questionList">

        </ul>
        <div class="pagination pull-right"><ul id="pagination" class="pagination-sm pull-right"></ul></div>
    </div>

    <div class="row border-red" style="padding:20px 20px;margin-top: 20px;">
        <h4>
            <p class="text text-warning">提问</p>
        </h4>
        <p class="heading-title"></p>
        <div class="row">
            <div class="col-md-6">
                <form class="form-horizontal" role="form" id="question">
                    <div class="form-group">
                        <label for="title" class="col-md-3 control-label">标题</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="title" name="question.questionTitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-md-3 control-label">问题</label>
                        <div class="col-md-6">
                            <textarea class="form-control" name="question.questionContent" cols="20" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile" class="col-md-3 control-label">上传</label>
                        <div class="col-md-6" style="margin-left: 3px;padding-top: 6px;">
                            <input type="file" id="exampleInputFile" name="question.questionPic">
                            <p class="help-block">附件（word、pdf格式）</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row border-red" style="padding:20px 20px;margin-top: 20px;">
        <h4>
            <p class="text text-warning">我的问题</p>
        </h4>
        <p class="heading-title"></p>
        <ul class="list-group" id="myQuestion">
        </ul>
        <div class="pagination pull-right"><ul id="mypagination" class="pagination-sm pull-right"></ul></div>
    </div>
</div>
<script>
    $(function() {
        var pageUrl = '${ctx!}/question/questionList';
        $('#questionList').load(pageUrl,{userId:'${user.userId}'},function(){
            var totalPages=parseInt($('#totalPages').val());
            var pageSize=parseInt($('#pageSize').val());
            $('#pagination').twbsPagination({
                totalPages: totalPages,
                visiblePages: totalPages%10,
                onPageClick: function (event, page) {
                    $('#questionList').load(pageUrl,{"pageSize":pageSize,"pageNo":page});
                }
            });
        });

        var mypageUrl = '${ctx!}/question/myQuestion';
        $('#myQuestion').load(mypageUrl,{userId:'${user.userId}'},function(){
            var totalPages=parseInt($('#totalPages').val());
            var pageSize=parseInt($('#pageSize').val());
            $('#mypagination').twbsPagination({
                totalPages: totalPages,
                visiblePages: totalPages%10,
                onPageClick: function (event, page) {
                    $('#myQuestion').load(mypageUrl,{userId:'${user.userId}',"pageSize":pageSize,"pageNo":page});
                }
            });
        });
    });
</script>
