<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ui-sref="#">资料</a></li>
    <li><a ui-sref="#">钱包</a></li>
    <li><a ui-sref="#">预约</a></li>
    <li><a ui-sref="#">作业</a></li>
    <li><a ui-sref="#">课程</a></li>
  </ul>
  <h3 class="text-muted">HI，欢迎来到曼哈顿英语 请<a ui-sref="login">登录，</a><a ui-sref="register">还没有注册？</a></h3>
</div>
<div class="container" ui-view></div>

<div class="footer">
  <!--<p><span class="glyphicon glyphicon-heart"></span> from lk.zh</p>-->
</div>
