<#assign ctx=request.contextPath>
<div class="container" id="mainContent">
    <div class="row border-red" style="margin-top: 10px;padding:20px 20px;">
        <div class="container" id="filter">
            <form id="searchForm" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="keyword" style="margin-left: -80px;">搜索关键词：</label>
                    <div class="col-md-4">
                        <input class="form-inline" type="text" id="keyword" name="keyword">
                        <button class="btn btn-default btn-sm">search</button>
                    </div>
                </div>
                <p class="heading-title"></p>
                <h4 class="labels"><small>课程分类：
                    <span class="label label-info allitem">不限</span>
                    <span>TOFEL</span>
                    <span>IELTS</span>
                    <span>SSAT</span>
                    <span>SAT</span>
                    <span>ACT</span>
                    <span>GRE</span>
                    <span>GMAT</span>
                    <span>LSAT</span>
                </small></h4>
                <p class="heading-title"></p>
                <h4 class="labels"><small>教学方式：
                    <span class="label label-info allitem">不限</span>
                    <span>学生上门</span>
                    <span>教师上门</span>
                </small></h4>
                <p class="heading-title"></p>
                <h4 class="labels"><small>教师性别：
                    <span class="label label-info allitem">不限</span>
                    <span>男</span>
                    <span>女</span>
                </small></h4>
                <p class="heading-title"></p>
                <div class="row">
                    <div class="col-md-2"><h4 class="labels"><small>授课范围：</small></h4></div>
                    <div class="col-md-10" style="margin-left: -120px;">
                        <h4 class="labels"><small>
                            <span class="label label-info allitem">不限</span>
                            <span>黄浦区</span>
                            <span>卢湾区</span>
                            <span>徐汇区</span>
                            <span>长宁区</span>
                            <span>静安区</span>
                            <span>普陀区</span>
                            <span>闸北区</span>
                            <span>虹口区</span>
                            <span>闵行区</span><br/>
                            <span id="bsq" style="margin-left: 60px;margin-top: 10px;">宝山区</span>
                            <span style="margin-top: 10px;">嘉定区</span>
                            <span style="margin-top: 10px;">浦东新区</span>
                            <span style="margin-top: 10px;">金山区</span>
                            <span style="margin-top: 10px;">松江区</span>
                            <span style="margin-top: 10px;">青浦区</span>
                            <span style="margin-top: 10px;">南汇区</span>
                            <span style="margin-top: 10px;">杨浦区</span>
                            <span style="margin-top: 10px;">奉贤区</span>
                            <span style="margin-top: 10px;">崇明县</span>
                        </small></h4>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="row border-red" style="margin-top: 10px;padding:20px 20px;">
        <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div id="teachers" class="row" style="padding:10px 20px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#teachers').load('${ctx!}/teachers/teacherList');
</script>