<div class="row marketing">
    <div class="col-md-6">
        <p>
            <img src="${ctx!}/${course.coursePic}" alt="曼哈顿精品课程" class="img-responsive img-rounded center-block">
        </p>
    </div>
    <div class="col-md-6">
        <h4>${course.coursePic}</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Etiam leo neque, hendrerit et magna ut, viverra consectetur augue.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>
</div>