<div class="row">
    <div class="col-md-12 toppad">
        <div class="panel panel-info" style="margin-bottom: 0px;">
            <div class="panel-heading">
                <h3 class="panel-title">基本信息</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-user-information">
                            <tbody>
                            <tr>
                                <td colspan="2" style="border-top-width: 0px;">
                                    <span class="badge pull-left"><h5>基本资料：</h5></span>
                                    <a class="pull-right" href="#" style="margin-top: 20px;">编辑</a>
                                </td>
                            </tr>
                            <tr><td>手机号：</td><td>${user.mobile!}</td></tr>
                            <tr><td>姓名：</td><td>${user.userName!}</td></tr>
                            <tr><td>邮箱：</td><td><a href="mailto:${user.email!}">${user.email!}</a></td></tr>
                            <tr><td>地址：</td><td>${user.address!}</td></tr>
                            <tr>
                                <td colspan="2" style="border-top-width: 0px;">
                                    <span class="badge pull-left"><h5>其他信息：</h5></span>
                                </td>
                            </tr>
                            <tr><td>积分：</td><td>${user.credit!}</td></tr>
                            <tr><td>VIP到期时间：</td><td>${user.vipExpiredTime!}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
