<#assign ctx=request.contextPath>
<style>
    .controls{margin-top:5px;}
</style>
<div class="row" id="userinfo">
    <div class="panel panel-danger col-md-2 col-md-offset-2 border-red">
        <div class="panel-heading">个人信息</div>
        <ul class="list-group">
            <li class="list-group-item"><a href="javascript:void(0);" class="baseInfo"><i class="fa fa-user fa-fw"></i> 基本信息</a></li>
            <li class="list-group-item"><a href="#" class="wallet"><i class="fa fa-database fa-fw"></i> 钱包</a></li>
            <li class="list-group-item"><a href="#" class="myListen"><i class="fa fa-headphones fa-fw"></i> 我的试听</a></li>
            <li class="list-group-item"><a href="#" class="myAppointment"><i class="fa fa-phone fa-fw"></i> 我的预约</a></li>
            <li class="list-group-item"><a href="#" class="myHomework"><i class="fa fa-pencil-square-o fa-fw"></i> 我的作业</a></li>
            <li class="list-group-item"><a href="#" class="myCollect"><i class="fa fa-heart fa-fw"></i> 我的收藏</a></li>
            <li class="list-group-item"><a href="#" class="systemInfo"><i class="fa fa-list fa-fw"></i> 系统信息</a></li>
            <li class="list-group-item"><a href="#" class="setPass"><i class="fa fa-gear fa-fw"></i> 修改密码</a></li>
        </ul>
    </div>
    <div id="data-content" class="col-md-6 border-red user-data"></div>
</div>
<script>
$(function(){
    loadBaseInfo(event);

    $('.baseInfo').click(function(){loadBaseInfo(event)});

    var els='.wallet,.myListen,.myAppointment,.myHomework,.myCollect,.systemInfo,.setPass';

    $(els).click(function(){
        var page=page||$(this).attr('class');
        $('#data-content').html('').load('${ctx!}/users/data/'+page+'?userId=${user.userId}');
    });

    <#if item??>
    myhandle('${item}');
    </#if>

})
function myhandle(page){
    console.log($(this).attr('class'));
    var page=page||$(this).attr('class');
    $('#data-content').html('').load('${ctx!}/users/data/'+page+'?userId=${user.userId}');
}

function loadBaseInfo(e) {
    e.preventDefault();
    $('#data-content').html('').load('${ctx!}/users/data/baseInfo?userId=${user.userId}');
}

</script>