<div class="row">
    <div class="span3 offset2">

        <table class="table">
            <thead>
            <tr>
                <th>个人信息</th>
            </tr>
            </thead>
            <tbody>
            <tr>基本信息</tr>
            <tr>钱包</tr>
            <tr>我的试听</tr>
            <tr>我的作业</tr>
            <tr>我的收藏</tr>
            <tr>系统信息</tr>
            <tr>修改密码</tr>
            </tbody>
        </table>
    </div>
    <div class="span6">
        <h3 class="text-info">
            基本信息
        </h3>
        <dl>
            <dt>
                基本资料
            </dt>
            <dt>
            <hr />
            </dt>
            <dd>
                手机号：
            </dd>
            <dd>
                手机号：
            </dd>
            <dd>
                手机号：
            </dd>
            <dd>
                手机号：
            </dd>
            <dt>
                其他信息
            </dt>
            <dd>
                积分：
            </dd>
            <dd>
                VIP到期时间：
            </dd>
        </dl>
    </div>
</div>
