<#include "/common/webUtils.ftl">
<style>
    img.avatar{
        height:100px;
        margin-right:10px;
        margin-top: 10px;
    }
    a.list-group-item {
        height:140px;
        min-height:100px;
        padding:5px 5px;
    }
</style>
<#list page.rows as row>
<a href="#" class="list-group-item">
    <div class="media col-md-3">
        <div class="pull-left">
            <img class="media-object img-rounded img-responsive avatar"  src="${ctx!}/mhd/upload/039f17d0ff3611e3bede52540077b0c2.jpg" alt="placehold.it/350x250" >
        </div>
    </div>
    <div class="col-md-6">
        <h4>${row.user.userName}</h4>
        <p><b>教授课程: </b>${row.courseCategory}</p>
        <p><b>信用等级: </b>${row.creditRate}
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </p>
    </div>
    <div class="col-md-3" style="margin-top:30px;">
        <button data-id="${row.userId}" type="button" class="btn btn-primary">查看详情</button>
        <button data-id="${row.userId}" type="button" class="btn btn-link" style="margin-left: 12px;">删除</button>
    </div>
</a>
</#list>
<@emptyPage page=page msg="还没有试听教师"/>
<@pageParam/>