<div class="offset1">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#student" data-toggle="tab">注册为学生</a></li>
        <li><a href="#teacher" data-toggle="tab">注册为教师</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="student">
            <div class="row">
                <div class="span6">
                    <form id="studentRegister" class="form-horizontal" role="form">
                        <div class="control-group">
                            <label for="inputEmail3" class="control-label">手机号</label>
                            <div class="controls">
                                <input type="text" id="inputEmail3" name="user.mobile" placeholder="phone">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="inputPassword3" class="control-label">密码</label>

                            <div class="controls">
                                <input type="password"  id="inputPassword3" name="user.password"
                                       placeholder="Password">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="inputPassword31" class="control-label">确认密码</label>

                            <div class="controls">
                                <input type="password"  id="inputPassword31" placeholder="Password">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="authCode" class="control-label">验证码</label>

                            <div class="controls">
                                <input type="text" id="authCode" name="user.authCode">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-warning" id="studentRegisterBtn">立即注册</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="span4"><br/>
                    想更进一步？
                    <button type="submit" class="btn btn-warning">成为VIP</button>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="teacher">
            <div class="row">
                <div class="span6">
                    <form class="form-horizontal span10" ng-submit="login()" role="form">
                        <div class="control-group">
                            <label for="tinputEmail3" class="control-label">手机号</label>

                            <div class="controls">
                                <input type="text" id="tinputEmail3" name="user.mobile"
                                       placeholder="phone">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="tinputPassword3" class="control-label">密码</label>

                            <div class="controls">
                                <input type="password"  id="tinputPassword3"
                                       name="user.password"
                                       placeholder="Password">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="tinputPassword31" class="control-label">确认密码</label>

                            <div class="controls">
                                <input type="password"  id="tinputPassword31"
                                       name="user.password1"
                                       placeholder="Password">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="tauthCode" class="control-label">验证码</label>

                            <div class="controls">
                                <input type="text"  id="tauthCode" name="user.authCode">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-warning">立即注册</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="span4">
                    <p color="red">教师请注意</p>
                    <p color="red">只有认证后</p>
                    <p color="red">才能激活账号</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#studentRegister').submit(function(e){
        e.preventDefault();
        var user=$('#studentRegister').serializeJson();
        console.log(user);
        console.log(resource.register);
        $.post(resource.register,user,function(result){
            if(result&&result.success) {
                $('.tip').text(","+result.data.userName);
                $('#main').html('').load('main/',{userId:result.data.userId});
            }else{
                $('.alert').show();
            }
        })
        return false;
    })
</script>