<div class="col-md-offset-1">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#student" data-toggle="tab">注册为学生</a>
        </li>
        <li><a href="#teacher" data-toggle="tab">注册为教师</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="student">
            <div class="row">
                <div class="col-md-6">
                    <form id="studentRegister" class="form-horizontal" role="form">
                        <input name="type" type="hidden" value="STUDENT" />
                        <div class="form-group">
                            <label for="inputEmail3" class="control-label col-md-3">手机号</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="inputEmail3" name="mobile" placeholder="Phone"
                                        />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="control-label col-md-3">密码</label>
                            <div class="col-md-7">
                                <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password"
                                        />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword31" class="control-label col-md-3">确认密码</label>
                            <div class="col-md-7">
                                <input type="password" class="form-control" id="inputPassword31" placeholder="Password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="authCode" class="control-label col-md-3">验证码</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="authCode" name="authCode" placeholder="AuthCode"
                                        />
                                <button class="btn btn-info" style="margin-top:10px;" onclick="mbtime(this)">
                                    <span class="glyphicon glyphicon-envelope"></span> 获取验证码</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-7">
                                <button type="submit" class="btn btn-warning" id="studentRegisterBtn">立即注册</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <br />想更进一步？
                    <button type="submit" class="btn btn-warning">成为VIP</button>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="teacher">
            <div class="row">
                <div class="col-md-6">
                    <form id="teacherRegister" class="form-horizontal" role="form">
                        <input name="type" type="hidden" value="TEACHER" />
                        <div class="form-group">
                            <label for="tinputEmail3" class="control-label col-md-3">手机号</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="tinputEmail3" name="mobile" placeholder="Phone"
                                        />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tinputPassword3" class="control-label col-md-3">密码</label>
                            <div class="col-md-7">
                                <input type="password" class="form-control" id="tinputPassword3" name="password" placeholder="Password"
                                        />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tinputPassword31" class="control-label col-md-3">确认密码</label>
                            <div class="col-md-7">
                                <input type="password" class="form-control" id="tinputPassword31" placeholder="Password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tauthCode" class="control-label col-md-3">验证码</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="tauthCode" name="authCode" placeholder="AuthCode"
                                        />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-7">
                                <button type="submit" class="btn btn-warning">立即注册</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <p class="text-danger">教师请注意</p>
                    <p class="text-danger">只有认证后</p>
                    <p class="text-danger">才能激活账号</p>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .tab-pane{
        padding:10px 10px;
    }
</style>
<script>
    var authCode;
    $('#studentRegister,#teacherRegister').submit(function(e){
        e.preventDefault();
        var form=$(this);
        var user=form.serializeJson();
        $.post(resource.register,user,function(result){
            if(result&&result.success) {
                form.append('<div class="alert alert-success span6">' +
                        '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
                        '<strong>恭喜</strong>，注册成功</div>');
                $('.tip').text("");
//                $('#main').html('').load(resource.main,{userId:result.data});
            }else{
                $('.alert').show();
            }
        })
        return false;
    })
    function sendAuthcode(mobile){
        $.get('/mhd/common/authCode',{mobile:mobile},function(res){

        })
    }
    //todo:手机验证码获取
    $(function(){
//        sendAuthcode('18721400241');
    })
</script>