<div class="span6">
    <h4 class="text-info pull-left" style="color: #FE4141;">
        钱包
    </h4>
</div>
<div style="width:90%;height:1px; background:#E0E0E0;"></div>
<div class="span6">
    <fieldset>
        <legend style="font-size: 14px;width:80%;">
            <div>
                <h3>当前余额：<span style="color:#FE4141;">${user.wallet!}RMB</span>
                <a href="#" class="btn btn-primary btn-danger"><i class="icon-gift"></i> 充值</a>
                </h3>
            </div>
        </legend>
        <ul class="list-inline">
            <li>yshefksejflsfjas;lfkjlkL</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>

    </fieldset>
</div>