<#assign ctx=request.contextPath>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row" id="placeList">
            </div>
            <div class="pagination pull-right"><ul id="pagination"class="pagination-sm pull-right"></ul></div>
        </div>
    </div>
</div>
<script>
    $(function() {
        var pageUrl = '${ctx!}/place/placeList';
        $('#placeList').load(pageUrl, function () {
            var totalPages = parseInt($('#totalPages').val());
            var pageSize = parseInt($('#pageSize').val());
            $('#pagination').twbsPagination({
                totalPages: totalPages,
                visiblePages: totalPages % 10,
                onPageClick: function (event, page) {
                    $('#placeList').load(pageUrl, {"pageSize": pageSize, "pageNo": page});
                }
            });
        });
    });
</script>
